body {
    padding: 10px;
    background-color: antiquewhite;
}
h1 {
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
}
h2 {
    font-size: 1.4em;
    margin-block-start: 0.35em;
    margin-block-end: 0.35em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
}
h3 {
    font-size: 1.2em;
    margin-block-start: 0.30em;
    margin-block-end: 0.30em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul {
    list-style-type: disc;
    padding-inline-start: 2em;

}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 1.4em;
}

/* header menu*/
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f2e175;
    box-shadow: 0px 5px 5px rgba(128,128,128,.5);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    min-height: 100px;
    width: 100%;
    padding: 0;
    
}

.menu-item{
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    color: #666;
}