body {
    background-color: antiquewhite;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

main {
    padding: 24px;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

h2 {
    font-size: 1.4em;
    margin-block-start: 0.35em;
    margin-block-end: 0.35em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h3 {
    font-size: 1.2em;
    margin-block-start: 0.30em;
    margin-block-end: 0.30em;
    border-left: saddlebrown solid 10px;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul {
    list-style-type: disc;
    padding-inline-start: 2em;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 1.4em;
}

/* header menu*/
.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 0 24px;
    background-color: #f2e175;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, .5);
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-family: 'kawaii';
    font-size: 36px;
}

.navbar__logo a{
    text-decoration: none;
    color: #666;
}

.navbar__nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    min-height: 100px;
    width: 100%;
    padding: 0;

}

.navbar__nav__menu-item {
    list-style: none;
}

.navbar__nav__menu-item a {
    text-decoration: none;
    color: #666;
}

.drawer-menu-btn{
    display: none !important;
}

@media screen and (max-width: 767px) {
    .navbar {
      padding: 10px 24px;
    }

    .navbar__logo {
      font-size: 30px;
    }

    .navbar__nav__menu{
        flex-direction: column;
        row-gap: 24px;
        font-size: 24px;

        position: fixed;
        z-index: 1;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        background-color: #f2e175;
        transition: .3s;
    }

    .navbar__nav__menu.show{
        transform: translateX(-100%);
    }

    .drawer-menu-btn{
        display: block !important;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
}


@font-face {
    /* フォント情報 https://font.spicy-sweet.com/ */
    font-family: 'kawaii';
    src: url('../fonts/kawaii.ttf') format('truetype');
}

h1,
h2,
h3 {
    font-family: 'kawaii';
}

header {
    background-color: #f2e175;
}



/* fontawesome用 */
svg[class^="svg"] {
  margin-right: 0.5em;
}
